h1,
h2,
h3,
p {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 21px;
  font-weight: bold;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 11px;
  font-weight: 300px;
}

p {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 300;
}

li {
  list-style-type: none;
}
