.u-container {
  width: 980px;
  margin: 0 auto;
}

/*.example__wrapper {
  padding-bottom: 60px;
}

.example__wrapper--orange { background: #ffe084; }
.example__wrapper--green  { background: #c5fcda; }
.example__wrapper--blue   { background: #98e5ec; }


.example__header {
  background: #fff;
  line-height: 60px;
  padding-top: 80px;
}

.example__header__title {
  font-size: 20px;
  display: inline-block;
}

.example__header__button {
  display: inline-block;
  line-height: 36px;
  background: #2192f3;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  color: #fff;
  height: 36px;
  padding: 0 16px;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  &:active {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
  }
}

.example__ribbon {
  width: 100%;
  height: 100px;
  background: #fff;
}

.example__content {
  margin-top: -100px;
  height: 500px;
  overflow: visible;
}

.example__browser {
  background: #fff;
  border-radius: 2px;
  height: 500px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}*/
